@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: -50%;
	border-radius: 100%;
	z-index: 10000;
	transition: all 150ms ease-out;
}
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
@layer base {
	.h1 {
		@apply font-bebas text-2xl xl:text-4xl text-white xl:max-w-xl max-w-md;
	}
	.p {
		@apply font-manrope text-base text-pretty text-gray-200 xl:max-w-xl max-w-md;
	}
}
